DB_PASSWORD=
DB_NAME=HerbalifeDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

CLOUDINARY_URL=

CLOUD_NAME= 
API_KEY= 
API_SECRET= 


JWT_SECRET= 

PORT=3005
HOST_API=http://localhost:3005/api

